@import url("../../css/colors.css");

.cantidad-carrito{
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    color: var(--color-claro);
}

.cart-icon{
    height: 1.5rem;
    width: auto;
    color: var(--color-claro);
}