:root {
  --color-primario: #264653;     
  --color-secundario: #dde7eb;   
  --color-acento-1: #F4A261;     
  --color-acento-2: #E76F51;     
  --color-claro: #eeeeee;        
  --color-texto: #2A2A2A;        
}